* {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

h2 {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--slate-900);
}

p {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--slate-500);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.background {
    background-color: var(--slate-300);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 240px;
    height: 400px;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}